img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
img {
  margin-top: 20px;
}

.shrink-table {
  table-layout: auto !important;
  width: auto !important;
  max-width: 100% !important;  /* prevent growing too large */
  overflow-wrap: break-word;   /* force cell content to wrap */
  word-break: break-word;      /* ensure words break if too long */
}
